:host .iot-row.robot i{
    // text-shadow: -1px -1px 0 rgba(200,200,200, 0.5), 1px -1px 0  rgb(200,200,200, 0.5), -1px 1px 0  rgb(200,200,200, 0.5), 1px 1px 0  rgb(200,200,200, 0.5);
    font-size: 13px;
    line-height: 12px;
    margin-right: 3px;
    color: darkturquoise;
}

:host .iot-row.robot {
    margin-top: 2px;
}
:host .iot-id {
    display: flex;
    i {
        font-size: 17px!important;
        margin: 0px 3px 0px -5px;
        line-height: 0px!important;
    }    
    span{
        line-height: 0px!important;
    }
}

:host .selected {
    margin: -8px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid darkturquoise;
    background: rgba(0, 206, 209, 0.35);
}


