<span class="iot-id">
    <!-- <i class="mdi mdi-window-open-variant"></i> -->
    <i class="mdi mdi-elevator-passenger-outline"></i>    
    <span>{{liftId}}</span>
</span>
<div class="iot" *ngIf="mqSrv.data.arcsLift.value && mqSrv.data.arcsLift.value[liftId]">
    <div class="iot-content">
        <div class="floor iot-row">
            <span>{{'Floor' | label : uiSrv.langPack}} : </span>
            <span>{{mqSrv.data.arcsLift.value[liftId].floor}}</span>            
        </div>
        <div class="robot iot-row" *ngIf="mqSrv.data.arcsLift.value[liftId].robotCode">
            <i class="mdi mdi-robot"></i> 
            <span>{{mqSrv.data.arcsLift.value[liftId].robotCode}}</span>
        </div>
    </div>
</div>