:host .floorplan{
    height: calc(100% - 10px); 
    width: calc(100% - 10px); 
    position: absolute;
    background: rgba(0,0,0,0.2);
}

:host .background{
    height: 100%; 
    width: 100%;
    object-fit: contain;
    position: absolute;
    // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    // filter: grayscale(100%);
    opacity: 0.7;
    // filter: invert(100%);
}

:host .waypoint-scatter-chart{
    align-self: center;
}

:host .analysis-count{
    font-size: 2.3em;
    font-weight: 300;
    margin-right: 0.5em;
}

:host .analysis-count-wrapper{
    display: flex;
    justify-content: end;
    width: 100%;
}