:host .video-player {
    display: flex;
    justify-content: center;
}

:host .switch-camera-btn {
    position: absolute;
    padding: 10px;
    right: 5px;
    top: 0px;
    z-index: 2;
}

:host .popup-title{
    display: none;
}

:host .popup-robot-code {
    line-height: 5px !important;
    font-size: 12px!important;
}

:host .popup-row{
    justify-content: space-between;
    display: flex;
    line-height: normal!important;
    margin-top: 5px;
}

// :host .popup-row i.battery{
//     color: rgba(0, 206, 209, 0.8);
// }




