/* -- BEGIN LICENSE BLOCK ----------------------------------------------
  (c) Copyright 2018 FZI Forschungszentrum Informatik, Karlsruhe, Germany

  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND ANY EXPRESS OR
  IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND
  FITNESS FOR A PARTICULAR PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR
  CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
  DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE,
  DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
  WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY
  WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
-- END LICENSE BLOCK ------------------------------------------------*/

:host {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    max-height: 100vh;
}

.wrapper {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
    // height: 100vh;
    width: 100%;
    height: 100%;

    max-width: 100vw;
    max-height: 100vh;
}

.popupscreen{
    position: fixed!important;
    z-index: 99999!important;
    height: 90vh!important;
    width: 90vw!important;
    top: 5vh!important;
    left: 5vw!important;
    .canvas-div{
        background: white;
    }
}

.fullscreen {
    position: fixed !important;
    z-index: 99999 !important;
    height: 100vh !important;
    width: 100vw !important;
    top: 0vh !important;
    left: 0vw !important;

    .overlay {
        height: 100vh !important;
        width: 100vw !important;
        top: 0vh !important;
        left: 0vw !important;
        background: url("../../../../assets/bg-black.png");
    }

    .canvas-div {
        background: rgba(255, 255, 255, 0.2) !important;
    }
}

.canvas-div {
    backdrop-filter: blur(2px);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.overlay{
    position: fixed!important;
    background: rgba(0,0,0,0.7);
    height: 100vh!important;
    width: 100vw!important;
    z-index: 0;
    left: 0;
    top: 0;
}

// .tight-bounds {
//     padding: 0;
//     margin: 0;
//     overflow: hidden;
// }