.container{
    display: flex;
    min-width: 40vw;
    padding: 10px;
    margin-bottom: 10px;
}
.form-container{
    padding: 10px;
    min-width: 25vw;
}

.viewport-container{
    flex-grow: 1;
    padding: 10px;
}

