:host .alert-3d{
    color: #FFC000;
    -webkit-text-stroke: 1px #222222;
    font-size : 21px
}

:host .alert-3d:hover{
    color: #FE9802 !important;
    -webkit-text-stroke: 1px #FF0000  !important;
    font-size : 28px  !important
}

