:host .alert-3d{
    color: #FFC000;
    -webkit-text-stroke: 1px #222222;
    font-size : 21px
}

:host .alert-3d:hover{
    color: #FE9802 !important;
    -webkit-text-stroke: 1px #FF0000  !important;
    font-size : 28px  !important
}

:host .task-item-seq{
    color: white;
    background: #FF6358;
    padding: 1px 5px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 900;
    border: 1px solid white;
}
