:host ::ng-deep  .three-js-viewport-overlay{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

:host ::ng-deep .three-js-viewport-overlay > div {
    align-self:  center;
}

:host ::ng-deep .three-js-viewport-overlay > div > span {
    display: flex;
    width: 100%;
    justify-content: center;
}

:host ::ng-deep .three-js-viewport-overlay kendo-progressbar {
    width: 250px!important;
    height: 10px;
}

:host ::ng-deep .robot-info{
    display: flex;
}



// :host ::ng-deep .tooltip {
//     padding: '8px';
//     border-radius: '5px';
//     line-height: '0px';
//     font-size: '10px';
//     background: 'rgba( 0, 0, 0, 0.5)';
//     white-space: 'pre';
// }