:host ::ng-deep  .three-js-viewport-overlay{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

:host ::ng-deep .three-js-viewport-overlay > div {
    align-self:  center;
}

:host ::ng-deep .three-js-viewport-overlay > div > span {
    display: flex;
    width: 100%;
    justify-content: center;
}

:host ::ng-deep .three-js-viewport-overlay kendo-progressbar {
    width: 250px!important;
    height: 10px;
}

:host ::ng-deep .robot-info{
    display: flex;
}

::ng-deep .label-3js.selected span.content ::ng-deep {
    background: rgba(0, 206, 209, 0.35);
    border: 1px solid darkturquoise;
    padding: 0px 8px;
}

::ng-deep .label-3js span.content ::ng-deep {
    padding: 8px;
    margin: -8px;
    line-height: 0px;
    white-space: pre;
    font-size: '10px';
    border-radius: 5px;
}

::ng-deep .label-3js.selected ::ng-deep {
    background:rgba(0, 0, 0, 0.45);
}

::ng-deep .label-3js ::ng-deep {
    cursor: pointer;
    .iot-row {
        justify-content: space-between;
        display: flex;
        line-height: normal !important;
    }

    .iot-content {
        // border-top:solid 1px rgba(255,255,255,0.8);
        margin-top: 8px;
    }

    .iot-id {
        font-weight: 900;
        line-height: 5px !important;
        font-size: 12px!important;

        i {
            font-size: 14px!important;
            margin: 1px;
        }
    }

    .iot-circle {
        width: 16px;
        height: 16px;
        margin-right: 2px;

        i{
            font-size: 12px;
            display: block;
        }        
    }
}

:host ::ng-deep .iot-icon{
    cursor: pointer;
    display: block;
    width: 7px;
    height: 7px;
    background-color: darkturquoise;
    border-radius: 30px;
    border: solid white 1px;
    z-index: 10;
}

:host .flex-row{
    display: flex;
    gap: 20px;
    .mdi{
        margin-right: -10px;
    }
    span , a{
        line-height: 60px;
    }
}

:host .flex-col{
    display: flex;
    flex-direction: column;
}

:host .std-container{
    width: 100%;
    height: 100%;
    padding: 10px 35px;
    .close{
        position: absolute;
        top: -10px;
        right: 20px;
    }
}

:host .col-40{
    width: 40%;
}

:host .col-60{
    width: 70%;
}

:host .panel-header span{
    line-height: 60px;
    font-size: 20px;
}

:host .panel-header {
    button{
        margin:  18px 0px 0px 0px;
        .mdi {
            margin: 0px;
        }
    }
}

:host .grow-1{
    flex-grow: 1;
}

:host .selected{
    color: darkturquoise;
}

:host .justify-end{
    justify-content: end;
}
// :host ::ng-deep .tooltip {
//     padding: '8px';
//     border-radius: '5px';
//     line-height: '0px';
//     font-size: '10px';
//     background: 'rgba( 0, 0, 0, 0.5)';
//     white-space: 'pre';
// }


