:host ::ng-deep  .three-js-viewport-overlay{
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(10px);
}

:host ::ng-deep .three-js-viewport-overlay > div {
    align-self:  center;
}

:host ::ng-deep .three-js-viewport-overlay > div > span {
    display: flex;
    width: 100%;
    justify-content: center;
}

:host ::ng-deep .three-js-viewport-overlay kendo-progressbar {
    width: 250px!important;
    height: 10px;
}

:host ::ng-deep .robot-info{
    display: flex;
}

::ng-deep .label-3js ::ng-deep {
    .iot-row {
        justify-content: space-between;
        display: flex;
        line-height: normal !important;
    }

    .iot-content {
        // border-top:solid 1px rgba(255,255,255,0.8);
        margin-top: 8px;
    }

    .iot-id {
        font-weight: 900;
        line-height: 5px !important;
        font-size: 12px!important;

        i{
            font-size: 14px!important;
            margin: 1px;
        }
    }
}



// :host ::ng-deep .tooltip {
//     padding: '8px';
//     border-radius: '5px';
//     line-height: '0px';
//     font-size: '10px';
//     background: 'rgba( 0, 0, 0, 0.5)';
//     white-space: 'pre';
// }