:host .slider-wrapper
{
  display: flex;
  flex-direction: column;
}

:host .slider-wrapper
{
  display: flex;
  flex-direction: column;
}

// :host .row{
//   display: flex;
// }

:host .rows-container{
  width: 100%;
}

:host .slider-wrapper .display-value {
  text-align: center;
  margin-top: -15px;

}

:host button.show-waypoint-popupscreen {
  margin-top: 30px;
}

:host .drawing-board{
  background: rgba($color: #000000, $alpha: 0.25);
  // backdrop-filter: blur(2px);
}

:host ::ng-deep .robot-base .k-multiselect-wrap.k-floatwrap {
  min-height: 0px!important;
}


:host .debug-info-container{
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 999;
  left: 10px;
  top: 40px;
  font-size: 13px;
  text-shadow:
    -1px -1px 0 #000,
     0   -1px 0 #000,
     1px -1px 0 #000,
     1px  0   0 #000,
     1px  1px 0 #000,
     0    1px 0 #000,
    -1px  1px 0 #000,
    -1px  0   0 #000;
}

:host ::ng-deep .popupscreen.wrapper .buttons-container.t2{
  margin-top: 25px;
}

:host .margin-20{
  margin : 20px
}