<div class="dialog-content map-detail-location">
    <kendo-dialog-titlebar class="drag-cursor" (close) = "onClose()" cdkDrag cdkDragRootElement=".k-dialog" cdkDragHandle>
        <div>{{'Location' | label: uiSrv.langPack}}</div>
    </kendo-dialog-titlebar>
    <div class="container">
        <div class="form-container">
            <form [formGroup]="frmGrp" class="content">
                <uc-txtbox  lab = "Location Name"  [frmGrp] = "frmGrp" frmCtrl = "shapeCode"></uc-txtbox>

                <div class="link-container">
                    <div class="link-header">
                        <span class="header-item-1">{{'Link Map' | label : uiSrv.langPack}}</span>
                        <span class="header-item-2">{{'Points' | label : uiSrv.langPack}}</span>
                    </div>
                    <div class="link-content-container k-textbox">
                        <div class="link-content" *ngFor = "let link of links">
                            <span class="item-1">{{link['mapName']}}</span>
                            <span class="item-2">{{link['shapeCode']}}</span>
                            <a class="remove-button" (click) = "removeLink(link)">
                                <span class="k-icon mdi mdi-close-thick"></span>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="form-row create-container">
                    <uc-dropdown lab = "Map" [frmGrp] = "frmGrp" frmCtrl = "map" [options] = "dropdownOptions.maps" 
                                 (change) = "dropdownOptions.locations = dataSrv.getDropListOptions('locations', dropdownData.locations , {'mapId' :frmGrp.controls['map'].value})">
                    </uc-dropdown>
                    <uc-dropdown lab = "Points" [frmGrp] = "frmGrp" frmCtrl = "linkShapeId" [options] = "dropdownOptions.locations"  
                                 [noDataMsg]="frmGrp.controls['map'].value ? null : ('Please select the map first' | label : uiSrv.langPack) ">
                    </uc-dropdown>
                    <button kendoButton class="create-button" (click)="addLink()" [disabled] = "!linkAddable"> 
                        <span class="k-icon mdi mdi-plus"></span> 
                    </button>
                </div>

                <uc-dropdown lab = "Function" [frmGrp] = "frmGrp" frmCtrl = "actionId" >
                </uc-dropdown>
            </form>
        </div>
    </div>
</div>


