<kendo-dialog-titlebar (close)="dialogRef.close()">
    <div>{{'Incomplete Tasks' | label : uiSrv.langPack}}</div>
</kendo-dialog-titlebar>

<div class="table-container incomplete-tasks dialog-content">
    <uc-table #table [toolbarButtons]="[]" [columnDefs]="gridSettings[selectedTab]['columns']" [(data)]="data"
        [functionId]="gridSettings[selectedTab]['functionId']" [serverSidePagination]="true"
        [dataSourceApiEndpoint]="gridSettings[selectedTab]['apiUrl']" [useColumnFilter]='true'
        [defaultState]="gridSettings[selectedTab]['defaultState'] ? gridSettings[selectedTab]['defaultState'] : null">
    </uc-table>
</div>

<!-- (actionClick) = "$event.actionId == 'delete' ? delete(): null " [serverSidePagination] = "true"
(cellClick) = "selectedTab == 'group' && $event.column == 'edit' ? 
                  showGroupDialog($event) : 
                  ($event.column == 'edit' || $event.column ==  'execute' ?
                       showTaskDetail($event) : 
                       ($event.column ==  'cancel' ? cancelTask($event) : null))"
(createClick) = "selectedTab == 'group'? showGroupDialog() : showTaskDetail()"  -->