<div class="container">
    <uc-dropdown lab="Report Type" [options] = "dropdownOptions.reportType" [(value)] = "reportType" [allowClear] = "false"></uc-dropdown>
    
    <ng-container *ngIf="cfg[reportType]?.layout">
        <ng-container *ngFor = "let item of cfg[reportType]?.layout">
            <uc-dropdown  *ngIf="item.uc == 'dropdown'"  [lab]="item.text"  [options] = "dropdownOptions[item.optionType]" [(value)] = "cfg[reportType].filters[item.key]"></uc-dropdown>
            <uc-date-input *ngIf="item.uc == 'datetime'" [lab]="item.text"  [(value)] = "cfg[reportType].filters[item.key]"></uc-date-input>
        </ng-container>
    </ng-container>


    <div class="button-container" >
        <button kendoButton [disabled] = "dataSrv.generatingReport" (click)="genReport()">{{'Export' | label : uiSrv.langPack}}</button>
    </div>
</div>
