<div class="dialog-content robot-group">
    <kendo-dialog-titlebar (close)="onClose()">
        <div>{{'Robot Group' | label: uiSrv.langPack}}</div>
    </kendo-dialog-titlebar>
    <div class="flex-container">
        <div class="form-container">
            <form [formGroup]="frmGrp" class="content">
                <div class="form-row">
                    <uc-txtbox lab="Group Name" [frmGrp]="frmGrp" frmCtrl="groupName" [disabled] = "parentRow"></uc-txtbox>
                    <uc-dropdown lab="Master Robot"  [frmGrp]="frmGrp" frmCtrl="master"  [disabled] = 'readonly'
                                 [options] = "dropdown.options.robots" [allowClear] = "false">
                    </uc-dropdown>
                </div>     
            </form>  
            <div class="list-container">
                <uc-listview #editableGrid [columnDef]="listDef" [(data)]="clientList" [(newRow)] = "newClientRow" [editable] = "!readonly">
                </uc-listview>
            </div>   
        </div>
    </div>
</div>
