:host .treeview{
    max-height: calc(100% - 280px);
}


// :host .three-d-container{
//     backdrop-filter: blur(5px);
//     height: 100%;
//     width: 100%;
// }

:host .container{
    justify-content: initial;
}

:host ::ng-deep .export-btn , .import-btn{
    margin: 10px;
}