:host .iot-container {
    cursor: pointer;
}

:host .iot-circle.small {
    cursor: pointer;
    display: block;
    width: 7px;
    height: 7px;
    background-color: #aaa;
    border-radius: 30px;
    border: solid white 1px;
    z-index: 10;
}

:host .iot-circle.closed {
    background: orange;
}

:host .iot-circle.opened {
    background: greenyellow;
}
// box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.45);
// transition: box-shadow 0.3s;

// :host .iot-circle:hover {
//     box-shadow: 0 0 0 9px rgba(0, 0, 0, 0.45);
// }

:host .label-3js{
    padding: 8px;
    border-radius: 5px;
    line-height: 0px;
    font-size: 10px;
    background: rgba( 0, 0, 0, 0.45);
    white-space: pre;

    .iot-id i {
        margin-right: 4px;
    }

    .status{
        padding: 1px;
        font-size: 10px;
    }

    .status i.mdi-circle{
        font-size: 8px;
        line-height: 13px;
    }

    .status i.mdi-circle.closed {
        color: orange;
    }

    .status i.mdi-circle.opened {
        color: greenyellow;
    }
}

