<div class="iot-content simple" (mouseenter)="mouseOver = true" (mouseleave)= "mouseOver = false" (contextmenu) = "showDetail = !showDetail">
    <ng-container *ngIf="!mouseOver && !showDetail">
        <span class="iot-circle small"></span>
    </ng-container>

    <div *ngIf="mouseOver || showDetail" class="iot-tag">
        <div class="iot-row label-3js">
            <span class="iot-circle">
                <i class="mdi mdi-turnstile"></i>
            </span>
            <span class="iot-id"> {{turnstileId}}</span>
        </div>

        <div *ngIf="dataSrv.signalRSubj.arcsTurnstile.value[turnstileId]" class="status iot-row">
            <span> </span>  
            <span> {{ dataSrv.signalRSubj.arcsTurnstile.value[turnstileId].opened ? 'Opened' : 'Closed' | label : uiSrv.langPack}} </span>  
        </div>
    </div>
</div>

