:host i.ieq {
    // text-shadow: -1px -1px 0 rgba(200,200,200, 0.5), 1px -1px 0  rgb(200,200,200, 0.5), -1px 1px 0  rgb(200,200,200, 0.5), 1px 1px 0  rgb(200,200,200, 0.5);
    margin-right: 2px;
}

/* Page Template - Number Pad */


// :host .aqlevel.excellent .aq-icon {
//     color: greenyellow;
// }
// :host .aqlevel.good .aq-icon {
//     color: cyan;
// }
// :host .aqlevel.fair .aq-icon {
//     color: yellow;
// }
// :host .aqlevel.poor .aq-icon {
//     color: orange;
// }
// :host .aqlevel.inadequate .aq-icon {
//     color: orangered;
// }