<!-- <div class="iot" *ngIf="!parent">
    <span class="iot-id">
       <i class="mdi mdi-robot"></i>
       <span> {{robotId}} </span>
    </span>
    <div *ngIf="robotSubj" class="iot-content">
        <div class="iot-row">
            <span class="status"  *ngIf="ds.status?.content"> 
                <i [class]="'status mdi mdi-circle ' +  ( ds.status?.content ? (ds.status?.content | cssClassName) : '')  " ></i> 
                <span>{{ds.status.content | label : uiSrv.langPack}}</span>
            </span>
    
            <span class="battery" *ngIf="ds.battery.mq?.value">
                <i [class]="'mdi mdi-battery' + ( ds.battery.mq?.value == 100 ? '' : ('-' + ( ds.battery.mq?.value < 10 ? '10' : ((ds.battery.mq?.value / 10) | roundDown) * 10))) "></i> 
                <span>{{ds.battery.mq?.value}}%</span>
            </span>
        </div>

        <div class="iot-row" [style.display] = "robotSubj.obstacleDetected?.value ||  robotSubj.tiltActive?.value || robotSubj.estop?.value ? 'none' : null">
            <span *ngIf="robotType == 'patrol'" [class] ="'aqlevel ' +  (  airQualitySubj.value ? (airQualitySubj.value | cssClassName) : '')">
                <span>{{'IEQ' | label : uiSrv.langPack }} : </span> 
                <span>{{ airQualitySubj.value | label : uiSrv.langPack }} </span>
            </span>
        
            <span *ngIf="robotType == 'delivery' && robotSubj.totalContainersCount.value">
                <span>{{((arcsRobotSubType == 'TRAY_DELIVERY' ? 'Trays': 'Cabinet') + ' Avail.') | label : uiSrv.langPack }} : </span> 
                <span>{{ robotSubj.availContainersCount.value | label : uiSrv.langPack }} / {{  robotSubj.totalContainersCount.value | label : uiSrv.langPack }}</span>
            </span>
        </div> 

        <div *ngIf="robotSubj.status?.value != 'UNKNOWN' && robotSubj.destination?.value"  class="iot-row">         
            <span class="loading-dots">
                <i class="loading-dots--dot"></i>
                <i class="loading-dots--dot"></i>
                <i class="loading-dots--dot"></i>
            </span>

            <span class="destination">
                <i class="mdi mdi-map-marker"></i>
                <span>{{robotSubj.destination.value}}</span>
            </span>
        </div> 

        <div class="iot-row" *ngIf="robotSubj.obstacleDetected?.value || robotSubj.tiltActive?.value || robotSubj.estop?.value">
            <span class="warning">
                <i class="mdi mdi-alert"></i>
                <span>{{(robotSubj.estop?.value ? uiSrv.commonAlertMessages.estopped : (
                            robotSubj.tiltActive?.value ?  uiSrv.commonAlertMessages.tiltDetected : uiSrv.commonAlertMessages.obstacleDetected
                            )
                         ) | label : uiSrv.langPack}}
                </span>
            </span>
        </div>
    </div>
</div> -->