:host .header{
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
}

:host .item{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 30px;
    font-size: 22px;
    margin: 20px;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;

    .value{
        color: darkturquoise;
    }
}