
:host .button-container{
    margin: 20px;
}


:host .pin-input-container {
    display: flex;
    width: auto;
    align-items: center;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-width: 800px;
    min-width: 800px;
    margin-top : 0px!important
    /* align-self: center; */
}

:host .pin-input-container .pin-row {
    width: 45%;
    height: 68px;
    padding: 2em 0;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
}

:host .pin-input-container .pin-digit-container {
    height: 64px;
    width: 100%;
    font-size: 2em;
}

:host .pin-input-container .pin-digit-container.k-state-disabled {
    opacity: 1;
    border-color: #ccc;
}

:host .pin-input-container .keypad-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

:host .pin-input-container .keypad-button-row {
    display: flex;
    justify-content: space-between;
    height: 80px;
    gap: 15px;
}

:host .pin-input-container .keypad-button-container {
    width: 30%;
    /* margin: 5px; */
}

:host .pin-input-container .keypad-button {
    height: 100%;
    width: 100%;
    font-size: 3em;
    font-weight: 300;
    border-color: #ccc;
    color: #ccc;
}