.viewport-container{
    width: 100%;
    height: 100%
}

.tile{
    padding: 5px;
}

.usability-container , .utilization-container , .powerbi-container{
    width: 95vw;
    height: calc(100vh - 155px);
}

.dashboard-container , .home-container{
    height: calc(100vh - 105px);
    overflow: auto;
    scroll-behavior: smooth;
}

.dashboard-container .first-tile-layout{
    height: calc(100vh - 190px);
}

.home-container .first-tile-layout{
    height: calc(100vh - 150px);
}

:host .three-d-container{
    backdrop-filter: blur(5px);
    height: calc(100vh - 190px);
}

:host ::ng-deep .full-screen-viewport{
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh!important;
    position: fixed;
    backdrop-filter: blur(15px)!important;
}

:host .ts-robot-id i {
    font-size: 1.7em;
    line-height: 1;
}

:host .bottom-panel-overlay{    
    position: absolute;
    height: 70px;
    width: fit-content;
    bottom: 5px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}