:host .task-list{
    min-width: 240px;
    width: fit-content;
    margin: 10px ;
    border: 1px solid white;
    height: calc(100% - 130px);
    border-radius: 5px;  
}

:host .task-list-header{
    margin: 0px 10px;
}

:host .task-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

:host .task-header{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 17px;
    padding: 5px 0px 5px 10px;
    height: auto;
    max-width: 240px;
    // display: flex;
    // align-content: space-between;
    .mdi{
        margin: -1px;
    }
    .close{
        top: 0px;
        right: 5px;
    }
}

:host .point-list{
    display: flex;
    flex-direction: column;
    height: calc(100% - 35px);
    overflow: auto;
}

:host ::ng-deep .cdk-drag-placeholder {
    opacity: 0;  
}

::ng-deep .task-item-drag-preview {
    width: fit-content;
    padding: 10px;
    border: 1px solid darkturquoise;
    border-radius: 5px;
    background: rgba(0,0,0,0.7);
    max-height: 25px;
    .point-text{
        margin-left: 10px;
    }
    .mdi {
        text-align: center;
    }
    .action-list-button-container , .action-list, .mdi-chevron-down , .mdi-chevron-up{
        display: none;
    }
}

:host .point-button{
    background: rgba(0,0,0,0.5);
    min-width: calc(100% - 35px);
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    .location{
        min-width: 100%;
        width: fit-content;
        display: flex;
        justify-content: space-between;
        height: 34px;
        line-height: 34px;
        .point-name{
            min-width: 150px;
            text-align: center;
        }
        .point-text{
            display: inline-block;
            padding-left: 5px;
        }
    }
    ul {
        margin: 0;
        max-width: 150px;
        width: calc(100% - 40px);
        li{
            margin:3px 0px;
        }
    }
}


:host .point-button.selected {
    .location{
        color: darkturquoise;
    }
    color: white !important;
    border: 1px darkturquoise solid;
    a.selected  {
        text-decoration: underline;
    }
    a.selected  ,li.selected{
        color: darkturquoise !important;
    }
    a {
        color: white !important
    }
}

:host .font-16{
    font-size: 16px;
}

:host .font-20{
    font-size: 20px;
}

:host .font-25{
    font-size: 25px;
}

:host .point{
    margin: 5px;
    display: flex;
    font-size: 14px;
    .point-button{
        height: fit-content;
        display: block;
    }
}

:host .hints{
    font-size: 12px;
    padding : 5px;
}

:host .index{   
    box-sizing: initial;
    border: 0.1em solid #fff;
    color: #fff;
    text-align: center;
    border-radius: 50%;    
    box-sizing: content-box;   
    margin: 6px 10px 6px 2px;
    display: block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.4em;
}

:host .font-13{
    font-size: 13px;
}

:host .index.selected{
    background: darkturquoise;
    font-weight: 900;
    border-color: darkturquoise;
}


:host .action-list-button-container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: 10px;
}

// :host .action-list {

// }

:host .action-item-dialog {
    .header{
        color: darkturquoise;
        .close{
            margin-left: 10px;
        }
    }
    position: absolute;
    top: 70px;
    min-width: 250px;
    height: fit-content;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

:host .action-header-name{
    line-height: 32px;
}

:host .action-content{
    padding: 0px 10px 10px 10px;
    .action-number{
        padding: 5px;
    }
}

:host ::ng-deep .detail {
    border: 1px rgb(200,200,200) solid;
    border-radius: 5px;
    margin-top: 10px;
    label {
        color:  rgb(230,230,230)!important;
    }
}

:host .param-checkbox{
    display: flex;
}

:host .param-enum {
    padding : 3px 0px 3px 0px;
    .radio-label{
    margin: -2px 0px 0px 5px  
}
}

:host .param-container{
    margin: 10px;
}

:host .flex-between{
    display: flex;
    justify-content: space-between;
}

:host .action-button-container{
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    button{
        font-size: 14px;
        height: 28px;
    }
}

:host .task-button-container{
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px 10px 10px;
    .mdi{
        padding: 0px 3px 0px 0px;
    }
}

:host uc-drawing-board .wrapper.fullscreen {
    z-index: 9999;
}