<div class="grid-container normal">
    <kendo-grid [data]="dataSrv.eventLog.value"  [resizable]="true" >
        <kendo-grid-column field="type" [title]="'Event Type' | label: uiSrv.langPack" [headerStyle]="{'width': '10%'}" [style]="{'width': '10%'}"> </kendo-grid-column>
        <kendo-grid-column field="datetime" [title]="'Date and Time' | label: uiSrv.langPack" [headerStyle]="{'width': '15%'}" [style]="{'width': '15%'}" > </kendo-grid-column>
        <kendo-grid-column *ngIf="util.arcsApp" field="robotCode" [title]="'Robot Code' | label: uiSrv.langPack" [headerStyle]="{'width': '15%'}" [style]="{'width': '15%'}" > </kendo-grid-column>
        <kendo-grid-column field="message" [title]="'Message' | label: uiSrv.langPack"> </kendo-grid-column>
    </kendo-grid>
</div>
