:host .slider-wrapper
{
  display: flex;
  flex-direction: column;
}

:host .slider-wrapper
{
  display: flex;
  flex-direction: column;
}

:host .slider-wrapper .display-value {
  text-align: center;
  margin-top: -15px;

}

:host button.show-waypoint-fullscreen {
  margin-top: 30px;
}
