name: CI

on:
  push:
    tags:
      - "v*"
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.13.0]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm ci
      - run: npm run ng build -- --prod
      - name: Azure Static Web Apps Deploy
        uses: Azure/static-web-apps-deploy@v1
        with:
          action: "upload"
          app_location: "/dist"
          azure_static_web_apps_api_token: "02d72a6d2a5ad00b3bb62d20be654d278c263f4ca21706c2680db98b0316f2ba2-e831927c-ea67-439a-881b-80776cf050b400040468"
          skip_app_build: true
