name: CI

on:
  push:
    tags:
      - "v*"
  pull_request:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [12.14.1]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
      - run: npm install
      - run: npm install -g @angular/cli@11.2.19
      - name: Activate Kendo UI License
        run: npx kendo-ui-license activate
        env:
          KENDO_UI_LICENSE: ${{ secrets.KENDO_UI_LICENSE }}
      - name: Build Application - Arcs
        if: startsWith(github.ref, 'refs/tags/v') && endsWith(github.ref, '-arcs')
        run: npm run build-azure
      - name: Deploy to Azure Static Web Apps - Arcs
        if: startsWith(github.ref, 'refs/tags/v') && endsWith(github.ref, '-arcs')
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_DEPLOYMENT_TOKEN_ARCS  }}
          action: "upload"
          skip_api_build: true
          skip_app_build: true
          app_location: "dist/rv-arcs-website"
      - name: Show secrets.AZURE_DEPLOYMENT_TOKEN_QMH 
        if: startsWith(github.ref, 'refs/tags/v') && endsWith(github.ref, '-qmh')
        run: echo ${{ secrets.AZURE_DEPLOYMENT_TOKEN_QMH }}
      - name: Build Application - Qmh
        if: startsWith(github.ref, 'refs/tags/v') && endsWith(github.ref, '-qmh')
        run: npm run build-qmh
      - name: Deploy to Azure Static Web Apps - Qmh
        if: startsWith(github.ref, 'refs/tags/v') && endsWith(github.ref, '-qmh')
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_DEPLOYMENT_TOKEN_QMH  }}
          action: "upload"
          skip_api_build: true
          skip_app_build: true
          app_location: "dist/rv-arcs-website"
      # - name: Zip File And Create New Directory
      #   run: tar -zcvf fobo-amr-web.tar.gz dist && mkdir ./dist/zip && mv ./fobo-amr-web.tar.gz ./dist/zip
      # - name: Upload to Azure File Container
      #   uses: lauchacarro/Azure-Storage-Action@v1.1
      #   with:
      #     connection-string: ${{ secrets.CONNECTION_STRING }}
      #     folder: dist/zip
      #     blob-container-name:f fobo-amr-web